/* КНОПКА STEAM */
.btn-steam {
    background: #171a21; /* Фирменный цвет Steam */
    color: #ffffff;
    border: 1px solid #2a475e;
    border-radius: 8px;
    padding: 14px 30px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.btn-steam i {
    font-size: 1.4rem;
}

.btn-steam:hover {
    background: #2a475e;
    border-color: #66c0f4;
    box-shadow: 0 0 20px rgba(102, 192, 244, 0.2);
}
